#include "resource.h"
#include "afxres.h"

IDD_CAMERA_DIALOG DIALOGEX 0, 0, 700, 600
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OpenCV Camera Viewer with Face Detection"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_STATIC_IMAGE,"Static",SS_BLACKFRAME,7,7,640,480
    PUSHBUTTON      "Start Camera",IDC_BTN_START_CAMERA,7,500,100,30
    PUSHBUTTON      "Stop Camera",IDC_BTN_STOP_CAMERA,117,500,100,30
    PUSHBUTTON      "Start Face Detection",IDC_BTN_START_FACE_DETECTION,227,500,100,30
    PUSHBUTTON      "Stop Face Detection",IDC_BTN_STOP_FACE_DETECTION,337,500,100,30
    COMBOBOX        IDC_CMB_FILTER,447,500,100,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END 